<div>
  <div class="flex justify-between align-items-center mb-4">
    <h2 class="text-2xl font-bold">Categories</h2>
    <button nz-button [nzType]="'primary'" (click)="openModal()">Create</button>
  </div>
  <nz-table
    #basicTable
    [nzData]="data()"
    [nzFrontPagination]="true"
    [nzTotal]="34"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of basicTable.data; track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>
            <a (click)="handleEdit(item)">{{ "edit" | transloco }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this category"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="delete(+item.id)"
              >{{ "delete" | transloco }}</a
            >
          </td>
        </tr>
      }
    </tbody>
  </nz-table>

  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="(isEditing ? 'edit' : 'create') | transloco"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="submit()"
    [nzCancelText]="'cancel' | transloco"
    [nzOkText]="(isEditing ? 'save' : 'create') | transloco"
  >
    <ng-container *nzModalContent>
      <form nz-form nzLayout="vertical" [formGroup]="form">
        <!-- name -->
        <nz-form-item>
          <nz-form-label nzFor="email">Name</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              name="name"
              type="text"
              id="name"
              formControlName="name"
            />
          </nz-form-control>
        </nz-form-item>
        <!-- description -->
        <nz-form-item>
          <nz-form-label nzFor="description">Description</nz-form-label>
          <nz-form-control>
            <textarea
              nz-input
              id="description"
              name="description"
              formControlName="description"
              placeholder="Write description"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>
</div>
